.App {
  text-align: center;
  min-height: 100vh;
}

.App-header {
  background-color: #A13439;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4dvh;
  font-family: 'Apex Black';
  color: white;
}

.App-body {
  background-color: #E9E1DC;
  min-height: 80vh;
  display: flex;
  justify-content: center;
}

.App-footer {
  background-color: #2E2526;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  p {
    margin: 1vh;
  }
}

.footer-name {
  font-size: 2dvh;
  font-family: 'Apex Medium';
}

.footer-affiliation {
  font-size: 1.5dvh;
}

/*

Palette:

blanc :
#E9E1DC

rouge :
#A13439

gris :
#615755

noir :
#2E2526

beige :
#9F8F82

*/