.Legends-bar {
  position: relative;
}

#character-guess {
  padding: 10px 15px;
  width: 300px;
  border: 2px solid #615755;
  border-radius: 25px 0 0 25px;
  outline: none;
  position: relative;
  z-index: 1001;
  background-color: #2E2526;
  color: #fff;
}

#character-guess::placeholder {
  color: #9a9a9a;
}

#submit-guess {
  padding: 10px 20px;
  background-color: #A13439;
  border: 2px solid #A13439;
  border-radius: 0 25px 25px 0;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit-guess:hover {
  background-color: #cc3a42;
}

.suggestions-list {
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0 0;
  border: 1px solid #2E2526;
  border-radius: 5px;
  background-color: #615755;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-65%);
  z-index: 1000;
  width: 250px;
  max-height: 150px;
  overflow-y: auto;
}

.suggestions-list li {
  padding: 7px;
  cursor: pointer;
  color: #fff;
}

.suggestions-list li:hover {
  background-color: #9F8F82;
}

div.face {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 700px) {
  #character-guess {
    border-radius: 25px;
  }

  #submit-guess {
    display: none;
  }

  .suggestions-list {
    transform: translateX(-50%);
  }
}